html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    color: #626262;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: #f6848d;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s ease;
    align-self: start;
    padding: 19px 45px;
    cursor: pointer;
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.btn:hover {
    background: #F46C77;
    }


.header {
    position: absolute;
    width: 100%;
    max-width: 1800px;
    padding: 0 20px;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0px);
}

.header_row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px auto 14px;
    height: 95px;
}
.meny_icon{
    display: none;
}

.header_menu {
    width: 100%;
}

.meny_header_container {
    width: 100%;
    max-width: 1760px;

    display: flex;
    justify-content: space-between;
}
.menu_list_nav, .menu_list_social, .menu_list_account{
    display: flex;
    justify-content: space-between;
    /*display: none;*/
}

.menu_list_social li, .menu_list_account li{
    padding-right: 15px;

}

.menu_list_nav li {
    padding: 0 37.5px;
}
.menu_list_nav li:nth-child(3) {
    padding: 0 120px 0 37.5px;
}
.menu_list_nav li:nth-child(4) {
    padding: 0 37.5px 0 120px;
}


.meny_body li {
    display: inline-block;
    white-space: nowrap;
}


.meny_body a {
    text-decoration: none;
    color: #626262;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}
.meny_body a:hover {
    color: #2F3356;
}

.header_logo {
    display: block;
    position: absolute;
    z-index: 3;
    left: 50%;
    top:27px;
    transform: translate(-50%, 0px);
}

.header_logo img{
    display: block;
    width: 100%;
    max-width: 110px;

}


/*----------------hero------------*/
.hero{
    margin-top: 137px;
    display: flex;
    flex-wrap: wrap;
}
.hero_content_wrapper{
    max-width: 610px;
    width: 100%;
    padding: 3% 30px;
    display: flex;
    flex-direction: column;

}

.hero_content{
    width: 50%;
    height: auto;
    background-color: #F9F4EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_img{
    width: 50%;
}
.hero_img img{
    display: block;
    width: 100%;
}
.hero_content_title{
    font-size: 40px;
    margin-bottom: 5%;
}
.wrapper_span {
    display: flex;
    margin-bottom: 7%;

}
.wrapper_span span:nth-child(3) {
    font-weight: 500;
    margin-left: 5px;
}
.wrapper_span span:nth-child(2) {
    margin-left: 10px;
    position: relative;
}
.wrapper_span span:nth-child(2) {
    margin-left: 20px;
    position: relative;
}
.for_point:before {
    content: "";
    position: absolute;
    background-color: #939393;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    top: -15%;
    left: -150%;
    margin: 10px 20px;
}

.hero_content_text{
    margin-bottom: 8%;
    color: #939393;
}

/*----------------grid------------*/
.grid{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 7.5% 0 8%;
}
.grid_wrapper{
    width: calc(100% / 3 - 30px);
    margin: 0 15px 35px;
    display: flex;
    flex-direction: column;

}
.grid_content_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.grid_img img{
    display: block;
    width: 100%;
}
.grid_content_title{
    font-size: 22px;
    margin-bottom: 4%;
}
.btn_grid{
    background: none;
    color: #f46c77;
    clip-path: none;
    padding: 0 40px 0 0;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: auto;
}
.btn_grid:hover{
    color: #6c0912;
    background: none;
    background-repeat: no-repeat;
    background-position: right;
}


/*-----footer section-----*/
.footer_container {
    width: 100%;
    background-color: #f9f4ee ;
    z-index: -1;

}
.wrapper_footer_newsletter {
    width: 37.5%;
}
.wrapper_footer_newsletter_form {
    display: flex;
}

.wrapper_footer {
    width: 100%;
    max-width: 1710px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3.4% 20px 4.2%;
    flex-wrap: wrap;
    position: relative;

}

.container_footer_title {
    font-size: 40px;
    margin-bottom: 20px;
}
.container_footer_description {
    margin-bottom: 5%;
}
.wrapper_footer input {
    width: 100%;
    height: 55px;
    margin: 0px;
    padding-left: 23px;
    border: 1px solid #626262;
}
.btn-container-footer {
    /*width: 10%;*/
    max-width: 55px;
    clip-path: none;
    background: #f6848d  url(../img/arrow_right.png) no-repeat center;
}

.btn-container-footer:hover {
    clip-path: none;
    background: #f46c77 url(../img/arrow_right.png) no-repeat center;
}

.wrapper_footer form {
    display: flex;
    width: 100%;

}

.title_nav {
    text-transform: uppercase;
}

.wrapper-container-footer-nav {
    width: calc(46%);
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    z-index: 2;

}
.wrapper-container-footer {
    width: calc(33% - 10px);
}
.container-footer-list li{
    line-height: 2.08em;
    list-style-type: none;

}
.container-footer-list a{
    line-height: 2.08em;
    text-decoration: none;
    color: #939393;;
}
.title_nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 12%;
}
.wrapper-container-footer {
    width: calc(33% - 10px);
    padding-right: 10px;
}
.footer_img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}



@media screen and (max-width: 1270px) {

    .meny_header_container{
        position: fixed;

        width: 100%;
        top: -1000%;
        left: 0;
        padding: 160px 20px 100px;
        background-color: #F9F4EE;
        opacity: 0.9;
        overflow: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 110;
    }


    .meny_body {
        flex-direction: column;
    }
    .menu_list li {
        padding: 0 0 40px 0;
    }

    .menu_list_nav li:nth-child(3) {
        padding: 0 0 40px 0;
    }
    .menu_list_nav li:nth-child(4) {
        padding: 0 0 40px 0;
    }

    .menu_list_nav {
        order: 2;
        flex-direction: column;
        text-align: center;
    }
    .meny_body_social {
        order: 3;
        /*padding: 0 0 40px 0;*/
    }
    .menu_list_account {
        order: 3;
        padding: 0 0 40px 0;
    }

    .menu_list_social li, .menu_list_account li{
        padding: 0 10px;
    }

    .meny_body a {
        font-size: 20px;
    }


    /*--------------------burger elements+JS----------------*/
    body.lock {
        overflow: hidden;
    }

    .meny_header_container.аctive {
        top: 0;
        overflow: auto;
    }


    .icon_menu {
        display: block;
        position: absolute;
        top: 50px;
        right: 35px;
        width: 40px;
        height: 28px;
        cursor: pointer;
        z-index: 5;
    }

    .icon_menu span {
        top: 12px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #626262;
        transition: all 0.3s ease 0s;
    }

    .icon_menu span:nth-child(1) {
        top: 0px;
        transition: all 0.3s ease 0s;
    }

    .icon_menu span:nth-child(3) {
        top: auto;
        bottom: 0px;
        transition: all 0.3s ease 0s;
    }

    .icon_menu.аctive span {
        transform: scale(0);
    }

    .icon_menu.аctive span:nth-child(1) {
        transform: rotate(-45deg);
        top: 12px;
    }

    .icon_menu.аctive span:nth-child(3) {
        transform: rotate( 45deg);
        bottom: 12px;
    }

    .wrapper_footer_newsletter {
        width: 80%;
    }

    .wrapper-container-footer-nav {
        width: 80%;
        margin: 5% 0 0 0;
    }

    .hero_content_wrapper{
        max-height: 90%;
    }
}



@media screen and (max-width: 991px) {
    .hero{
        flex-wrap: wrap;
    }
    .hero_content{
        width: 100%;
        height: 100%;
        order: 2;
    }
    .hero_img{
        width: 100%;
    }
    .grid_wrapper{
        width: calc(100% / 2 - 30px);
    }
}


@media screen and (max-width: 768px) {
    .wrapper_footer_newsletter {
        width: 100%;
    }

    .wrapper-container-footer-nav {
        width: 100%;
        flex-direction: column;
    }

    .wrapper-container-footer {
        padding-bottom: 30px;
        transition: all 0.3s ease 0s;

    }
    .container-footer-list {
        display: none;
    }
    .container-footer-list.аctive {
        display: block;
    }
    .grid_wrapper{
        width: 100% ;
        margin: 0 10px 15px;

    }
}

